.carousel slide{
    width: 100%;
}

.carousel-item img {
    object-fit: cover; /* Ensures the image covers the entire area */
    object-position: inherit;
    height: 500px; /* Set a fixed height for the carousel items */
    opacity: 0.9;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Background for better text readability */
    padding: 10px;
    border-radius: 5px;
}
